body {
  height: 100vh;
  background-color: rgb(172, 162, 142)
  ;
}
#logo{
position:fixed;
top:0;
right:0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
